@model AssessmentGPMAMVC.Models.UserAnswer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAnswer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fileURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fileURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnsweredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnsweredAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attempt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attempt.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
